@import "tailwindcss";

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}

.custom-scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-clear-button {
  display: none !important;
}

input[type="text"]::-webkit-clear-button {
  display: none !important;
}

html, body {
  max-width: 100%;
}
